@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

main {
	color: #660033;
}

/* Main Body Context styling goes here */
.main-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
	width: 70%;
	margin: auto;
	min-height: 100vmin;
	margin-top: 4rem;
}

.form-container {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-row {
	display: flex;
	flex-direction: row;
	font-size: 1.5rem;
}

.form-row input {
	flex: 1;
}

/* Responsive Navbar */
@media screen and (max-width: 600px) {
	.navbar {
		flex-direction: column;
		padding-top: 1rem;
	}
	.nav-links {
		width: 100%;
		padding-top: 1rem;
	}

	.nav-links ul {
		width: 100%;
		flex-direction: column;
	}

	.nav-links .menu-links {
		width: 100%;
		text-align: center;
	}
	.nav-links li:hover {
		background-color: #555;
	}

	.toggle-btn {
		display: flex;
	}

	.main-body {
		width: 95%;
		margin: auto;
	}

	.welcome-message {
		flex-direction: column-reverse;
		justify-content: center;
		padding: 0.5rem;
	}

	.welcome-initial {
		margin: 0.8rem;
	}

	.welcome-headline h1 {
		font-size: 2.5rem;
	}

	.welcome-initial .welcome-img {
		padding: 0;
		margin: 0;
		width: 50%;
		height: 50%;
	}

	.welcome-para-div {
		flex-direction: column;
		justify-content: space-around;
		padding: 0;
		margin: 0.8rem;
		/* border: 1px solid black; */
	}

	.img-icon {
		padding: 0.5rem;
		/* text-align: center; */
		display: flex;
		flex-direction: row;
	}

	.img-icon p {
		font-size: 1rem;
		padding-left: 0.6rem;
	}

	.cause-btn {
		width: 100%;
		text-align: center;
	}

	.btn {
		display: block;
	}

	.cause-category-box h1 {
		font-size: 1.8rem;
	}

	.card-section {
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}

	.card {
		width: inherit;
	}

	.cause-grid {
		justify-content: center;
	}
}
