@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

/* Navbar Headder styling goes here */
.navbar {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	overflow: hidden;
	position: fixed;
	top: 0;
	background-color: #4faf4e;
	color: white;
	margin: 0;
	box-shadow: 0 0px 8px 3px rgba(0, 0, 0, 0.2);
}

.brand-title {
	font-size: 2rem;
	color: inherit;
	text-decoration: none;
}

.toggle-btn {
	position: absolute;
	top: .75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-btn .toggle {
	height: 0.2rem;
	width: 100%;
	background-color: white;
	border-radius: 0.5rem;
}

.nav-links {
	height: 100%;
}

.nav-links ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	margin: 0;
}

.nav-links li {
	display: flex;
	height: 3.5rem;
	padding: 1rem;
	align-items: center;
}

.nav-links li:hover {
	background-color: #555;
	transition: 0.2s;
}

.menu-links {
	list-style: none;
	text-decoration: none;
	color: inherit;
}

main {
	color: #660033;
}

/* Main Body Context styling goes here */
.main-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
	width: 70%;
	margin: auto;
	min-height: 100vmin;
	margin-top: 4rem;
}

/* WelComeMessage Section */
.welcome-message {
	/* font-size: 3.5rem; */
	/* border: 1px solid black; */
	border-radius: 1rem;
	margin: 1rem 0;
	padding: 2rem 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.welcome-initial {
	/* border: 1px solid blue; */
	display: inherit;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 2rem;
}

.welcome-img {
	display: inherit;
	justify-content: center;
	align-items: center;
	/* padding-right: 2rem; */
}

.welcome-img img {
	border-radius: 0.5rem;
	width: 100%;
	height: auto;
}

.welcome-headline {
	text-align: center;
	font-size: 2rem;
}

.welcome-headline br {
	display: none;
}

.welcome-para-div {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 1rem;
}

.img-icon {
	padding: 1rem;
}

.welcome-para-div p {
	font-size: 1.5rem;
}

.welcome-initial .cause-btn {
	justify-content: center;
	font-size: 2.2rem;
}

/* CauseCategoryBox Section */
.cause-category-box {
	text-align: center;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#category-headline {
	padding-bottom: 1rem;
}

.tabs {
	display: inherit;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	padding: 1rem 0;
	font-size: 1rem;
}

.tabs li {
	list-style: none;
	text-decoration: none;
	font-size: 1.5rem;
}

.card-section {
	display: inherit;
	flex-direction: row;
	justify-content: space-between;
}

.card {
	box-shadow: 0 0px 8px 2px rgba(0, 0, 0, 0.2);
	transition: 0.2s;
	width: 40%;
	border-radius: 10px;
	margin: 1rem;
}

.card:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 2px rgba(0, 0, 0, 0.19);
}

#card-img {
	border-radius: 10px 10px 0 0;
	width: 100%;
}

.progress {
	width: inherit;
	background-color: #efefef;
	margin: 0.5rem;
	border-radius: 0.5rem;
}

.bar {
	width: 20%;
	height: 0.6rem;
	background-color: #4faf4e;
	border-radius: inherit;
}

.fundraise-info {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.card-donate-btn {
	font-family: inherit;
	border: none;
	outline: 0;
	padding: 1rem;
	margin-top: 0.3rem;
	width: 100%;
	border-radius: 0 0 10px 10px;
	color: white;
	/* background-color: #4faf4e; */
	background-color: #555;
	text-align: center;
	cursor: pointer;
	font-size: 2rem;
}

.card-donate-btn:hover {
	background-color: #4faf4e;
	transition: 0.3s;
}

/* Call To Action Section */
.call-to-action {
	text-align: center;
	font-size: 2.2rem;
}
.call-to-action p {
	margin: 2rem;
}

.btn {
	/* vertical-align: middle; */
	padding: 0.2rem 0.5rem;
	margin: 0 0.5rem;
	border: 2px solid #4faf4e;
	border-radius: 1.2rem;
}

.btn:hover {
	background-color: #4faf4e;
	color: white;
	transition: 0.3s;
}

.para-fundraise-cta {
	margin-left: 10rem;
}

.cause-grid {
	display: flex;
	flex: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.cause-card {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #555;
	width: 200px;
	height: 200px;
	margin: 1rem;
	padding: 1rem;
	color: cornflowerblue;
}

footer {
	flex-shrink: 0;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0;
	background: rgb(140, 128, 223);
	padding: 0.2rem 0rem;
}

.about p {
	text-align: justify;
}

.form-container {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-row {
	display: flex;
	flex-direction: row;
	font-size: 1.5rem;
}

.form-row input {
	flex: 1;
}

/* Responsive Navbar */
@media screen and (max-width: 600px) {
	.navbar {
		flex-direction: column;
		padding-top: 1rem;
	}
	.nav-links {
		width: 100%;
		padding-top: 1rem;
	}

	.nav-links ul {
		width: 100%;
		flex-direction: column;
	}

	.nav-links .menu-links {
		width: 100%;
		text-align: center;
	}
	.nav-links li:hover {
		background-color: #555;
	}

	.toggle-btn {
		display: flex;
	}

	.main-body {
		width: 95%;
		margin: auto;
	}

	.welcome-message {
		flex-direction: column-reverse;
		justify-content: center;
		padding: 0.5rem;
	}

	.welcome-initial {
		margin: 0.8rem;
	}

	.welcome-headline h1 {
		font-size: 2.5rem;
	}

	.welcome-initial .welcome-img {
		padding: 0;
		margin: 0;
		width: 50%;
		height: 50%;
	}

	.welcome-para-div {
		flex-direction: column;
		justify-content: space-around;
		padding: 0;
		margin: 0.8rem;
		/* border: 1px solid black; */
	}

	.img-icon {
		padding: 0.5rem;
		/* text-align: center; */
		display: flex;
		flex-direction: row;
	}

	.img-icon p {
		font-size: 1rem;
		padding-left: 0.6rem;
	}

	.cause-btn {
		width: 100%;
		text-align: center;
	}

	.btn {
		display: block;
	}

	.cause-category-box h1 {
		font-size: 1.8rem;
	}

	.card-section {
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}

	.card {
		width: inherit;
	}

	.cause-grid {
		justify-content: center;
	}
}
