/* Donate Card Items Styles Goes Here */

.donate-item-card {
	display: flex;
	flex-direction: row;
	border: 1px solid black;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem;
	margin: 1.5rem 0 1.5rem 0;
}

.donate-id-img-container {
	flex: 0.3;
	justify-content: center;
	align-items: center;
	margin-right: 1rem;
}

.donate-id-img-container > img {
	height: 70%;
	width: 100%;
	/* object-fit: scale-down; */
}

.donate-info-container {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 0.7;
	justify-content: space-between;
	/* border: 1px solid blue; */
}

.donate-info-headings > h3 {
	display: inline;
	margin-right: 0.5rem;
}

.donate-btn {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.donate-btn > button {
	font-size: 1.2rem;
	padding: 0.5rem;
	width: 25%;
	outline: none;
}

.donate-description {
	padding: 0.3rem;
	text-align: justify;
	overflow-y: auto;
}

.donate-progress-bar {
	width: 100%;
	background-color: #efefef;
	border-radius: 0.5rem;
}

.donate-progress-indicator {
	width: 50%;
	height: 2rem;
	background-color: #4faf4e;
	border-radius: inherit;
}

.donate-three-dot-menu {
	position: absolute;
	top: 0.2rem;
	right: 0.2rem;
}

.dot {
	width: 0.5rem;
	height: 0.5rem;
	background-color: black;
	margin: 0.3rem;
	border-radius: 50%;
	display: block;
}

.donate-three-dot-menu:hover {
	background-color: #efefef;
	/* border-radius: 50%; */
}

.donate-three-dot-menu-content {
	display: flex;
	flex-direction: column;
	height: 5rem;
	width: 7rem;
	/* border: 1px solid black; */
}

.donate-three-dot-menu-content > button {
	height: 3rem;
	outline: none;
}
