@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@200;300&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Grandstander', cursive;
	display: flex;
	flex-direction: column;
}

/* Navbar Headder styling goes here */
.navbar {
	width: 100%;
	display: flex;
	background: #333;
	justify-content: space-between;
	align-items: center;
	color: white;
	padding: 0 12rem;
}

.brand-title {
	/* border: 1px solid lawngreen; */
	font-size: 1.5rem;
	color: inherit;
	text-decoration: none;
}

.nav-links {
	height: 100%;
	/* border: 1px solid lawngreen; */
}

.nav-links ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* border: 1px solid whitesmoke; */
}

.nav-links li {
	list-style: none;
	padding: 1rem;
}

.nav-links li:hover {
	background-color: #555;
}

.menu-links {
	list-style: none;
	text-decoration: none;
	color: inherit;
}

main {
	color: #660033;
	flex: 1 0 auto;
}

/* Main Body Context styling goes here */
.main-body {
	/* border: 1px solid black; */
	display: block;
	width: 70%;
	margin: auto;
}

/* WelComeMessage Section */
.welcome-message {
	border: 1px solid red;
	font-size: 3.5rem;
	margin: 1rem 0;
	padding: 0.5rem 0;
}

.welcome-message p {
	font-size: 2rem;
}

.welcome-para-div {
	display: flex;
	justify-content: space-between;
	border: 1px solid black;
}

/* CauseCategoryBox Section */
.cause-category-box {
	text-align: center;
}

/* Call To Action Section */
.call-to-action {
	text-align: center;
	font-size: 2.2rem;
}
.call-to-action p {
	margin: 2rem;
}

.call-to-action span {
	/* vertical-align: middle; */
	padding: 0.2rem 0.5rem;
	border: 2px solid green;
	border-radius: 1rem;
}

.para-fundraise-cta {
	margin-left: 10rem;
}

footer {
	flex-shrink: 0;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0;
	background: slateblue;
	padding: 0.2rem 0rem;
	border: 1px solid black;
}
